<div class="list-group"   *ngIf="!selectedEvent" >
  <a *ngFor="let event of events | async"
  class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">{{event.name}}</h3 >
      <small>{{event.dateIn}}</small>
    </div>
    <p class="mb-1">{{event.desc}}</p>
    <small>Ingresa a ver la carta</small>
    <!-- <a  routerLink="/detalle/{{event.uid}}"> ir</a>

     <button style="float: right" class="btn btn-sm btn-success" routerLink="/detail/{{hero.id}}"
   (click)="onSelect(event)" > VER CARTA</button>

    -->
   <button style="float: right" class="btn btn-sm btn-success" routerLink="/detalle/{{event.uid}}"
  > VER CARTA</button>

    </a>
</div>